/* General styling */
@font-face {
  font-family: CenturyGothic;
  src: url(CenturyGothic.ttf);
}
body {
  font-family: CenturyGothic, sans-serif;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #f4fcfb;
  height: 100%;
}
a {
  text-decoration: none;
  color: #121621;
  cursor: pointer;
}

.map-list-container {
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
  min-height: 75vh;
  border-radius: 3px;
}

/* Specific salesPartners popup styling */
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: CenturyGothic, sans-serif;
  padding: 5px;
  height: 100px;
  width: 300px;
  border: 2px solid #28d8c3;
}

.popup-sales-partners {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.popup-img {
  min-width: 100px;
  max-width: 150px;
  max-height: 100px;
  object-fit: contain;
}

/* ScanReach marker */
.scanReachMarker {
  width: 10px;
  height: 10px;
  border: 5px solid #28d8c300;
  outline-offset: -5px;
  outline: 4px solid #20343c;
  border-radius: 50%;
  background-color: #28d8c3;
}

/* Changing the default marker styling */
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: transparent;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: transparent;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: transparent;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: transparent;
}

/* Representative and SalesPartner list and popup styling*/
#list-container {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  right: 0;
  z-index: 2;
  width: 100%;
  max-height: 75vh;
  padding: 5px 5px 5px 10px;
  border-radius: 3px;
  background-color: #20343c;
  overflow: scroll;
}

#list-container a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.popup-info {
  margin-left: 10px;
  color: #121621;
  padding-left: 10px;
  border-left: 1px solid #28d8c3;
}

.resposibility-area {
  font-family: CenturyGothic, sans-serif;
  font-size: 1.5rem;
  color: #28d8c3;
}

.area-owner {
  margin: 5px 0px 10px 0px;
  padding: 0;
  font-size: 1.5rem;
  font-family: CenturyGothic, sans-serif;
}

.popup-contact-container {
  display: flex;
  flex-direction: row;
}

.popup-contact-container a {
  text-decoration: none;
  color: #28d8c3;
  cursor: pointer;
}

.popup-contact-info {
  margin: 0px;
  padding: 5px 5px 5px 0px;
  font-family: CenturyGothic, sans-serif;
}

/* Specific Salespartners list styling */
.salespartner-img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 350px;
  height: 80px;
  margin-top: 5px;
  margin-right: 5px;
  padding: 5px;
  border: 2px solid #28d8c3;
  background-color: #f4fcfb;
  border-radius: 3px;
}

.salespartner-img {
  max-width: 90%;
  max-height: 80px;
  overflow: hidden;
}

/* Specific repreresentative list and popup styling */
#representatives-popup-container {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  right: 0;
  z-index: 1;
  max-height: 75vh;
  border-radius: 3px;
}

.representatives-container {
  display: flex;
  gap: 5px;
  margin-top: 5px;
  margin-right: 5px;
  padding: 5px;
  width: 90%;
  max-width: 320px;
  max-height: 120px;
  border: 2px solid #28d8c3;
  font-size: 14px;
  background-color: #f4fcfb;
  border-radius: 3px;
  margin-bottom: 10px;
}

/* Select view styling */
.radio-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
.select-view-label {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-content: center;
  width: 70px;
  font-size: 1.3rem;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}
input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
}

input[type="radio"]:checked + label {
  text-decoration: underline;
  text-decoration-color: #28d8c3;
}

@media (min-width: 768px) {
  .radio-button-container {
    display: none;
  }
  #list-container {
    display: none;
  }

  .representatives-container {
    min-width: 350px;
  }
  #representatives-popup-container {
    align-items: flex-end;
  }
}
